{% extends "users/index_page.html" %}

{% block content %}
<div class="container mt-4">
    <h1>Communities</h1>

    {% if communities %}
        <ul class="list-group">
            {% for community in communities %}
                <li class="list-group-item">
                    <strong>{{ community.name }}</strong><br>
                    {{ community.description }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No communities found.</p>
    {% endif %}
</div>
{% endblock %}
